<div class="product-list">

    <div class="header-controls">
        <div class="search-container">
            <input 
                type="text" 
                class="search-input" 
                placeholder="Search..." 
                (input)="onSearchChange($event)"
            />
        </div>
        
        <div class="button-container">
            <button class="btn-yellow"
            (click)="createProduct()">Agregar</button>
        </div>
    </div>

    <div class="table-container">
        <table class="product-table">
          <thead>
            <tr>
              <th>Logo</th>
              <th>Nombre del producto</th>
              <th>Descripción</th>
              <th>Fecha de liberación</th>
              <th>Fecha de reestructuración</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProductList">
              <td class="column-center">
                <img class="product-logo" [src]="product.logo" alt="Logo del producto">
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td class="column-center">{{ product.date_release | date:'dd/MM/yyyy' }}</td>
              <td class="column-center">{{ product.date_revision | date:'dd/MM/yyyy' }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="pagination-controls">
        <div class="results-info">
            <span>{{this.totalList}} Resultados</span>
        </div>
        
        <div class="results-per-page">
            <select id="results-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
</div>
